{
  "presets": ["react", "@babel/preset-env" , "stage-0"],
  "plugins": [
    ["transform-decorators-legacy"],
    ["transform-runtime", {
      "regenerator": true
    }]
  ],
  "env": {
    "start": {
      "presets": ["react-hmre"]
    }
  }
}
